<div class="container">
  <h1 style="text-align: center; font-size: 8vw; font-family: 'Nunito', 'Roboto Slab', 'Mukata'; margin-top: -1vw">
    Cast and Control
  </h1>

  <div class="">
    <h2 style="font-size: 3vw;">Vision</h2>
    <hr style="margin-top: -2vw; margin-bottom: -0.5vw;" />
    <p style="font-size: 1.5vw;">
      Cast and Control intends to research the possible applications of mobile phones as input devices. Challenges to be
      faced are the imprecision of the sensors, potentially slow reaction speeds from the phone, and inter-device
      network latency. Special attention will be paid towards gesture recognition from the sensors, as well as
      communication between either multiple mobile devices or the mobile device and a desktop device. The goal is to
      produce an intuitive API that developers can use to produce usable applications.
    </p>
    <p style="font-size: 1.5vw;">
      The objective of this software development project is to gain experience in three dimensional motion, improve our
      own ability to design and implement mobile applications, and attempt to build software capable of interfacing with
      different devices and operating systems. Additional research will be done to test the limitations of the suite of
      motion sensors available within smartphones.
    </p>
  </div>

  <div class="">
    <h2 style="font-size: 3vw;">Our Team</h2>
    <hr style="margin-top: -2vw; margin-bottom: -0.5vw;" />
    <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 1vw 0;">
      <div class="portrait">
        <a href="https://github.com/andrewJamesBaker">
          <h2 style="font-size: 1.5vw; margin-left: 0.5vw; text-align: center;">Andrew Baker</h2>
        </a>
        <img style="width: 100%; height: auto; margin-bottom: 1vw;" src="assets/Andrew.jpg">
        <p style="padding: 0vw 0.5vw; margin-top: 0; font-size: 1vw;">
          Movie loving midwesterner, and the originator of this crazy, bizarre, (ingenious?) idea.
        </p>
      </div>
      <div class="portrait">
        <a href="https://github.com/Bongo9911">
          <h2 style="font-size: 1.5vw; margin-left: 0.5vw; text-align: center;">Dawson Buist</h2>
        </a>
        <img style="width: 100%; height: auto; margin-bottom: 1vw;" src="assets/Dawson.jpg">
        <p style="padding: 0vw 0.5vw; margin-top: 0; font-size: 1vw;">
          Gamer, Manga collector, and main developer for all things motion.
        </p>
      </div>
      <div class="portrait">
        <a href="https://github.com/nstrain">
          <h2 style="font-size: 1.5vw; margin-left: 0.5vw; text-align: center;">Nathan Strain</h2>
        </a>
        <img style="width: 100%; height: auto; margin-bottom: 1vw;" src="assets/Nathan.png">
        <p style="padding: 0vw 0.5vw; margin-top: 0; font-size: 1vw;">
          Certified Michigander© and VP of Abstraction. Chromecast Guru.
        </p>
      </div>
    </div>
  </div>

  <div class="">
    <h2 style="font-size: 3vw;">External Links</h2>
    <hr style="margin-top: -2vw; margin-bottom: -0.5vw;" />
    <ul style="font-size: 1.5vw;">
      <li>
        <a href="https://github.com/SeniorProject21DAN">GitHub</a>
      </li>
      <li>
        <a href="https://docs.google.com/document/d/1n_T6Wj1IVqyBjtuMxEZb_ijZFesSe3wBMQSJVsbEAMQ/edit?usp=sharing">Report</a>
      </li>
      <li>
        <a href="https://computing.calvin.edu/">Calvin University Computer Science Department</a>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1K-ec3FyLKwGIQX7X6CUcMwlfHtuodGhKXAbte6SNf7Q/edit?usp=sharing">Fall
          Presentation</a>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1uJSc2Y1AA-WvcpspIW6zqOwkhyFdRP0NLXZG6-F6-T0/edit?usp=sharing">Spring
          Presentation</a>
      </li>
    </ul>
  </div>
</div>